*{
    font-family: helvetica;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    
}

.field{
    width: 500px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label{
    font-size: 1rem;
}

textarea{
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.counter {
    font-size: 0.9rem;
    color: #555;
}

#toogle{

    background-color: rgb(9, 23, 150);
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    color: #Ffff;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

#toogle:hover{
    background-color: #2a0188;
}